################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/TechFood.Shared.Application/obj/Debug/net8
/src/TechFood.Shared.Application/obj
/src/TechFood.Shared.Domain/obj
/src/TechFood.Shared.Infra/obj
/src/TechFood.Shared.Presentation/obj
/src/TechFood.Shared.Worker/obj/Debug/net8
/src/TechFood.Shared.Worker/obj
